form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label{
    display: block;
    width: 100%;
    background-color: #6c5ce7;
    border-radius: 15px;
    padding: 10px;
    margin: 80px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
select{
    display: block;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    color: #6c5ce7;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

option{
    display: block;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    color: #6c5ce7;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

button{
}

