/* Book.css */
.wrapper {
    margin: 8px;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 16px;
    background-color: #f9f9f9;
    aspect-ratio: 4/3;
    box-sizing: border-box;
    align-items: center;
}

.image {
    max-width: 200px;
    flex-grow: 1;
    border-radius: 8px;
    object-fit: cover;
}

.contentContainer {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.titleText {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.authorText {
    color: grey;
    font-size: 14px;
    margin-top: 4px;
}